button {
    background-color: rgb(246, 243, 243);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/*  Asterisco significa tudo, ele aplica efeito em tudo */

html {
    scroll-snap-type: y mandatory;
}

video,
.img-tesla {
    width: 100%;
    /* Largura */
    height: 100%;
    /* Altura */
    position: absolute;
    /* Posiciona o Item numa Posição exata que deseja */
    top: 0%;
    left: 0%;
    z-index: -1;
    /* Define quem fica na frente ou atras */
    object-fit: cover;
    /* faz com que o video cubra toda a tela */
    filter: brightness(60%);

}


.logo {
    filter: brightness(100);
    position: fixed;
    width: 120px;
}

.item {
    position: relative;
    width: 100vw;
    /* Tela toda- Altura */
    height: 100vh;
    /* tela toda - largura */
    display: flex;
    /* Organiza os itens */
    justify-content: space-between;
    /*Criar Espaços nos itens */
    flex-direction: column;
    /* deixa o itens debaixo do outro */
    scroll-snap-align: start;
    /*Pula a Tela Toda Slide */
}

h1 {
    color: white;
    font-size: 50px;

}

.sub-titulos {
    color: white;
}

.info-carro {
    margin-top: 80px;
    text-align: center;
    /* Alinhamento no centro */

}

.rodapé {
    text-align: center;
}

button {
    background-color: rgba(34, 34, 34, 0.8);
    color: white;
    padding: 7px 80px;
    border-radius: 5px;
    /* Arredonda a Borda */
    border: none;
    /* Tira a borda do botão */
    opacity: 0.8;
    cursor: pointer;
    /* coloca uma mão no lugar da seta */

}

.teste-drive {
    color: black;
    background-color: white;
}

.texto-rodape {
    color: white font-size: 12px;
    /* Tamanho do Texto */
    margin-top: 10px;

}

.textos {
    color: black;
}

.sub-titulo {
    color: black;
}

.ss {
    color: black;
}

.formulario {
    position: fixed;
    top: 40px;
    width: 600px;
    height: 100%;
    z-index: 3;
    left: -50%;
    transition: 1.8s;

}